/* base */

html,
body {
	height: 100%;
}

html {
	font-family: Arial, sans-serif;
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
}

body {
	margin: 0;
}

/* layout */

.layout {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
	background-color: #cccccc;
}

.layout__header,
.layout__footer {
	width: 100%;
	flex-shrink: 0;
	padding: 20px 0;
	box-sizing: border-box;
	background-color: #fff;
}

.layout__section {
	width: 100%;
	flex-grow: 1;
}

/* container */

.container {
	margin: 0 auto;
	width: 1200px;
	max-width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}

/* header */

.header {
	font-size: 20px;
	color: #666666;
	text-align: center;
}

/* footer */

.footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__copyright {
	color: #666666;
}

.footer__wezom {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	color: #666666;
	transition: color 0.3s;
}

.footer__wezom img {
	max-width: 30px;
	max-height: 12px;
	object-fit: contain;
	display: block;
}

.footer__wezom span {
	margin-left: 10px;
}

.footer__wezom:hover {
	color: #cc0033;
}

/* is-pending */

.is-pending {
	position: relative;
}

.is-pending::after,
.is-pending::before {
	content: "";
	box-sizing: inherit;
	position: absolute;
	z-index: 1046;
	display: block;
	border: 2px solid #cc0033;
}

.is-pending::before {
	left: calc(50% - 30px);
	top: calc(50% - 30px);
	width: 60px;
	height: 60px;
	animation: rotating 2s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.is-pending::after {
	left: calc(50% - 20px);
	top: calc(50% - 20px);
	width: 40px;
	height: 40px;
	animation: rotating 2s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite reverse;
}

.is-pending > * {
	opacity: 0.3;
	pointer-events: none;
	filter: grayscale(1);
}

@keyframes rotating {
	0% {
		transform: rotate(0deg) translateZ(0);
	}

	to {
		transform: rotate(1turn) translateZ(0);
	}
}

/* users */

.users {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0;
	box-sizing: border-box;
}

.users__button {
	padding: 10px 20px;
	cursor: pointer;
	display: inline-block;
	max-width: 100%;
	background-color: #cc0033;
	color: #ffffff;
	transition: background-color 0.3s;
	margin: 20px 0;
	user-select: none;
}

.users__button:hover {
	background-color: #993333;
}

.users__content {
	width: 100%;
}

/* user-list */

.user-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -15px;
}

.user-list__item {
	width: 33.333%;
	padding: 15px;
	box-sizing: border-box;
}

@media (max-width: 1024px) {
	.user-list__item {
		width: 50%;
	}
}

@media (max-width: 640px) {
	.user-list__item {
		width: 100%;
	}
}

/* no-user */

.no-user {
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
}

/* user */

.user {
	background-color: #ffffff;
	padding: 15px;
	border-radius: 5px;
	text-align: left;
	box-sizing: border-box;
	height: 100%;
	color: #333333;
}

.user__image {
	height: 130px;
	margin-bottom: 20px;
}

.user__image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}

.user__name {
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}

.user__attribute {
	display: flex;
	width: 100%;
	font-size: 12px;
}

.user__attribute  + .user__attribute {
	margin-top: 10px;
}

.user__key {
	color: #666666;
	margin-right: 5px;
}

.user__link {
	color: #cc0033;
	transition: color 0.3s;
	display: block;
}

.user__link:hover {
	color: #993333;
}

/* statistic */

.statistic {
	padding: 30px 0;
	color: #333333;
	text-align: center;
}

.statistic__title {
	font-weight: bold;
	font-size: 30px;
	color: #333333;
	margin-bottom: 20px;
}

.statistic__row {
	display: flex;
	justify-content: center;
}

.statistic__row  + .statistic__row {
	margin-top: 10px;
}

.statistic__key {
	color: #666666;
	margin-right: 5px;
}

.statistic__value {
	font-weight: bold;
}

.statistic__text {
	color: #666666;
}

/* filter */

.filter {
	width: 100%;
	padding: 20px 0;
	color: #333333;
}

.filter__row {
	text-align: center;
	display: flex;
}

.filter__row + .filter__row {
	margin-top: 5px;
}

.filter__control {
	width: 100%;
	position: relative;
	box-sizing: border-box;
}

.filter__control + .filter__control {
	margin-left: 5px;
}

@media (max-width: 640px) {
	.filter__row {
		flex-wrap: wrap;
		margin-top: 0 !important;
	}

	.filter__control {
		width: 100%;
		margin-left: 0 !important;
		margin-bottom: 5px;
	}
}

.filter__input {
	width: 100%;
	height: 40px;
	padding: 0 10px;
	box-sizing: border-box;
	color: #333333;
}

.filter__select {
	width: 100%;
	height: 40px;
	padding: 0 10px;
	box-sizing: border-box;
	color: #333333;
}

.filter__icon {
	cursor: pointer;
	background-color: #ffffff;
	transition: background-color 0.3s;
	user-select: none;
	border: none;
	box-shadow: none;
	width: 36px;
	height: 36px;
	box-sizing: border-box;
	flex-shrink: 0;
	display: flex;
	position: absolute;
	top: 2px;
	right: 2px;
}

.filter__icon img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

.filter__icon:hover {
	background-color: #eeeeee;
}
